// Widths
$mobile: 768px;
$tablet: 1240px;

// Colors
$white_color: white;
$dark-blue_color: #172549;
$blue-green_color: #4287ab;
$light-green-blue_color: #3c7d9f;
$light-blue_color: #00d1ff;
$white-blue_color: #a3e5ff;
$grey-blue_color: #3c7c9d;
$light-grey-blue_color: rgba(60, 125, 159, 0.9);
$orange: orange;

// Font size
$font_size_desktop: 16px;

// Border styles
$border-radius: 30px;
$border-style: 2px $white_color solid;